h1,h2,h3,h4,h5,h6,p{
	font-family: 'Dosis', Arial, serif;
}
body {
	background-color: #F8E4CC;

}
.container-fluid {
	margin-top: 10px;
	max-width: 400px;
	background-color: #F8E4CC;

}
.tacohome img {
	width: 100%;
	margin-top:20px;
	margin-bottom: 20px;
}
.tacohome {
	text-align: center;
}
.tacohome h2 {
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom:10px;
	font-weight: bold;
}
.tacohome .hashtag {
	color: #85AD4A;
}
.tacohome h1 {
	color:#EE1D23;
	text-transform: uppercase;
	font-size: 50px;
	border: 10px solid #83AB49;
	background-color: #FEC11C;
	border-radius: 10px;
	padding-top: 7px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
	font-weight: 800;
	line-height: 100%;
	box-shadow: 10px 10px 5px #888888;
}
.tacohome p {
	font-size: 12px;
}
#yelpFooter{
	text-align:center;
}
#yelpFooter img {
	height: 30px;
	width: 60px;
	margin-top: 0;
	margin-bottom: 0;
	display:inline-block;
}
#yelpFooter p {
	margin-bottom:0;
	padding-top:10px;
	text-align: center;
	display:inline-block;
}
.distance{
	text-align: center;
	padding-bottom:0;
}
.go{
	background-color: #83AB49;
	height:77px;
}

.go a{
	color: #000000;
}

.details{
	background-color: #FEC11C;
	height: 77px;
}
.tacolist{
	max-width:400px;
}
