<!-- Pulls in the view -->
<div class="container-fluid">
	<div class="row intro">
		<div class="col-xs-10 tacoheaven">
			<h4>Your taco heaven is just minutes away. <span class="green">#TACOTIME!</span></h4>
		</div>
		<div class="listTacoImg col-xs-2">
			<img src="images/tacoalphapng.png" />
		</div>
	</div>

	<div class="tacolist" ng-repeat="result in yelpresults">
		<div class="row item">
			<div class="distance col-xs-2 text-center">
				<h1>{{ Math.round((result.distance * 0.000621371) * 27) }} </h1>
				<p class="minutes">min. walk</p>
			</div>

			<div class="main col-xs-7">
				<a href="{{result.mobile_url}}" target="_blank"><h3>{{result.name}}</h3></a>
				<img ng-src="{{result.rating_img_url}}" />
			</div>


			<!-- <div class="col-xs-2 details text-center">
				<a href="{{result.mobile_url}}" target="_blank"><h4>View more details</a></h4>
			</div> -->

			<div class="col-xs-3 go text-center">
				<a href="http://maps.google.com/?saddr={{myLat}},{{myLong}}&daddr={{result.location.coordinate.latitude}},{{result.location.coordinate.longitude}}&dirflg=w" target="_blank"><h3>GO!</h3></a>
			</div>
		</div>
		
	</div>
	<div class='note row'>*Walking times are approximate. Tap restaurant name for more details.
		</div>
</div>

