<!-- Pulls in the view -->
<div class="tacolist" ng-repeat="result in yelpresults">
{{result.is_claimed}}<br/>
{{result.distance}}<br/>
{{result.mobile_url}}<br/>
{{result.rating_img_url}}<br/>
{{result.review_count}}<br/>
{{result.name}}<br/>
{{result.snippet_image_url}}<br/>
{{result.rating}}<br/>
{{result.url}}<br/>
{{result.location}}<br/>
{{result.menu_date_updated}}<br/>
{{result.phone}}<br/>
{{result.snippet_text}}<br/>
{{result.image_url}}<br/>
{{result.categories}}<br/>
{{result.display_phone}}<br/>
{{result.rating_img_url_large}}<br/>
{{result.menu_provider}}<br/>
{{result.id}}<br/>
{{result.is_closed}}<br/>
{{result.rating_img_url_small}}</br/>
<br/>
</div>

