<div class="container-fluid" ng-init="vm.getTacoResults()">
	<div class="row intro ">
		<div class="col-xs-12 tacoheaven">
			<h4>Taco joints <span class="green"><b>Open Now</b></span> Near</h4>
			<h4 ng-if="vm.latitude && vm.longitude">
				<b><span class="glyphicon glyphicon-map-marker"></span><reverse-geocode lat="{{vm.latitude}}" lng="{{vm.longitude}}"></reverse-geocode></b>
			</h4>
			<h4 ng-if="!vm.latitude && !vm.longitude">
				<div class="loader">
					<div class="loader-inner ball-pulse">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
			</h4>
		</div>
	</div>

	<div class="result-list" ng-repeat="result in vm.yelpresults | orderBy : 'distance'">
		<div ng-if="!result.is_closed">

			<div class="row restaurant">
				<div class="col-xs-12">
					<img ng-src="{{ result.image_url }}" />
					<a href="{{ result.mobile_url }}" target="new" class="name"> {{ result.name }} </a>
					<p class="formatted-address"> {{ result.formatted_address }} </p>
				</div>
			</div>

			<div ng-if="result.distance < 15">
				<a ng-href="{{result.googleDirectionsUrl}}" target="new">
					<div class="row">
						<div class="col-xs-12 directions go-{{$index}}">
							<p>
								<object type="image/svg+xml" data="images/sports.svg"></object>
								{{ result.distance }} minute walk
								<span class="glyphicon glyphicon-menu-right pull-right"></span>
							</p>
						</div>
					</div>
				</a>
			</div>


			<div ng-if="result.distance >= 15">
				<a ng-href="{{result.googleDirectionsUrl}}" target="new">
					<div class="row">
						<div class="col-xs-6 directions go-{{$index}}">
							<p>
								<object type="image/svg+xml" data="images/sports.svg"></object>
								{{ result.distance }} minute walk
								<span class="glyphicon glyphicon-menu-right pull-right"></span>
							</p>
						</div>
						<a ng-href="{{result.uberUrl}}">
							<div class="col-xs-6 uber">
								<object type="image/svg+xml" data="images/uber.svg">UBER</object>
								<span class="glyphicon glyphicon-menu-right pull-right"></span>
							</div>
						</a>
					</div>
				</a>
			</div>

			<div class="reviews">
				<div>
					Rating:
					<img ng-src="{{result.rating_img_url}}" />
				</div>
				<span ng-if="result.phone">
				<span class="glyphicon glyphicon-earphone"></span>
				<a href="tel: {{result.phone}}" class="phone-number"> {{ result.phone | telephone }} </a>
				</span>
				<div class="review"> {{ result.snippet_text }}</div>
			</div>

		</div>
	</div>

	<div id="yelpFooter">
		<p>Powered by</p>
		<img src="images/yelpbug.png">
	</div>
</div>
